{% extends 'base.html.twig'%}
{% block title%}Updtate Articles {% endblock title%}
{% block body %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary  btn-outline-warning" >Updtate  </button>
{{ form_end(form) }}
<a href="/"> go home</a>
{% endblock %}